/*
Author: Olli Kuikka
Date: 3.10.2025
*/

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 30px;
    font-size: 2rem;
    color: #333;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
  }
  
  audio,
  video {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }
  
  p {
    text-align: left;
    color: #444;
  }